.colorContainer {
    margin: 20px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.CV {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    padding-top: 40px;
    color: var(--text-color);
    background-color: var(--background-color);
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

footer {
    width: 100%;
    height: 40px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a {
    text-decoration: none;
    transition: transform .5s;
}

footer a:hover {
    transform: scale(1.2);
}

@media print {
    :root {
        font-size: 1rem;
    }

    body {
        background-color: var(--background-color);
    }

    .CV {
        box-shadow: none;
    }

    .websiteOnly {
        position: absolute;
        opacity: 0;
    }

    *:placeholder-shown {
        position: absolute;
        opacity: 0;
    }

    input {
        overflow-x: visible;
    }
}