.Portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Portrait img {
    object-fit: cover;
    width: calc(5vw + 100px);
    height: calc(5vw + 100px);
    background-color: var(--secondary-color);
    border-radius: 100px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.Portrait label {
    background-color: lightgray;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.Portrait label:active {
    background-color: darkgray;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5) inset;
}

.Portrait input {
    display: none;
}